<!doctype html>
<html ng-app="">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=1024" />
  <meta name="apple-mobile-web-app-capable" content="yew" />
  <meta name="author" content="Shaoke Xu" />
  <title>AngularJS Template</title>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
  <link href="../vendors/impress.js/css/impress-demo.css" rel="stylesheet" />
  <link rel="stylesheet" href="../vendors/bootstrap/docs/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="../vendors/google-code-prettify/src/prettify.css" />
  <link rel="stylesheet" href="./css/main.css" />

</head>
<body onload="prettyPrint()">
  <div id="impress">
    <div id="beginning" class="step slide">
      <h1>Application Template</h1>
    </div>
  </div>

  <script src="../vendors/bootstrap/docs/assets/js/bootstrap.js"></script>
  <script src="../vendors/google-code-prettify/src/prettify.js"></script>
  <script type="text/javascript" src="../vendors/impress.js/js/impress.js"></script>
  <script>impress().init();</script>
  <script src="./js/main.js"></script>
</body>
</html>